@import url("https://fonts.googleapis.com/css2?family=Aladin&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fbceb1;
}

h1 {
  text-align: center;
  font-size: 50pt;
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "Aladin", cursive;
  opacity: 0.7;
}

.navbar {
  height: 100%;
  align-content: center;
  margin-left: 550px;
}

.navbar ul li {
  margin-top: 20px;
  font-size: 25pt;
}

a {
  text-decoration: none;
  color: rgb(201, 61, 61);
}

a:hover {
  color: orangered;
}
