* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 14px;
  background-color: white;
}

/* Header */
.header {
  width: 100%;
}

/* Navigation */
.navbar {
  text-align: center;
}

.navbar a {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 30px;
  color: black;
  font-weight: bold;
}

.navbar a:hover {
  color: #eaa258;
}

/* Main container */
.main-container {
  margin: 50px auto;
  width: 80%;
  height: 130vh;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.article {
  padding: 80px 100px 0 100px;
}

/* Title */
.title {
  font-family: "Playfair Display", serif;
  /* regular */
  font-size: 35px;
}

/* Inner text */
.plot {
  font-size: 16px;
  color: gray;
  margin-bottom: 30px;
  line-height: 28px;
}

/* First letter */
.plot-first::first-letter {
  font-size: 75px;
  line-height: 65px;
  vertical-align: top;
  font-family: "Playfair Display", serif;
  color: black;
  float: left;
  margin: 0 10px 0 0;
}

/* Quotation styling */
.quote {
  font-size: 20px;
  color: gray;
}

.quote > p {
  padding-left: 20px;
  display: inline-block;
}
.quote-sign {
  font-size: 60px;
  line-height: 50px;
  font-style: italic;
}

/* Buuton styling */
.btn {
  border: 2px solid #eaa258;
  background-color: white;
  color: #eaa258;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 18px;
  padding: 15px 35px;
  margin: 35px 100px;
  letter-spacing: 3px;
}

.btn:hover {
  background-color: black;
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
