mixin blog__title(args)
	.c-blog__title
		.c-blog__title__wrapper
			h1.e-blog__title Blog 
			p.e-blog__text Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.

mixin blog-articles(args)
	.c-articles
		.c-articles__wrapper
			.c-articles__block.c-articles__block--img1
				.c-articles__block__wrapper
					.c-articles__block__date
						span.c-articles__block__date--small 20
						span.c-articles__block__date--large NOV
					.c-articles__block__title
						p Green Smoothies: Too Much of a Good Thing?
					.c-articles__block__author
						p By Auskteez - 2 hours ago
			.c-articles__block.c-articles__block--img2
				.c-articles__block__wrapper
					.c-articles__block__date
						span.c-articles__block__date--small 14
						span.c-articles__block__date--large NOV
					.c-articles__block__title
						p Growing Food and a “Thirst” for Innovation
					.c-articles__block__author
						p By Auskteez - 3 hours ago
			.c-articles__block.c-articles__block--img3
				.c-articles__block__wrapper
					.c-articles__block__date
						span.c-articles__block__date--small 10
						span.c-articles__block__date--large NOV
					.c-articles__block__title
						p Pesticides & Food: What You Need to Know
					.c-articles__block__author
						p By Auskteez - 6 hours ago

