mixin footer(args)
	footer.c-footer
		.c-footer__wrapper
			//- Copyright
			p.c-footer__copyright
				| &copy 2015 Company. All right reserved.
			//- Logo
			span.c-footer__logo Cahee
			//- Info about author
			p.c-footer__author
				| Made with 
				span.c-footer__author--red love
				|  by Auskteez