.c-navbar__wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.c-navbar__link {
    text-decoration: none;
    color: $c-black;
    font-family: "Raleway", sans-serif;
    font-size: $fs-middle;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 5px;
    margin-left: 20px;
    &:hover {
        color: $c-red;
        transition: $t-normal;
    }
}
// Style for an active page
.link--active {
    border-top: 3px solid $c-orange;
}
