mixin banner(args)
	main.c-banner
		.c-banner__wrapper
			h1.e-banner__title Fresh Life
			p.e-banner__text Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
			+button-main()