@font-face {
  font-family: "Proxima Nova Regular", sans-serif;
  src: url(../fonts/Proxima\ Nova\ Regular.otf) format(opentype),
    url(../fonts/Futura\ PT.ttf) format(truetype);
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Georgia", sans-serif;
  font-size: 14px;
  background-color: #464f54;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header-container {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header-descr,
.author,
.title-rain {
  text-transform: uppercase;
}

.header-descr {
  color: white;
  opacity: 0.6;
  font-size: 10px;
  letter-spacing: 3px;
}

.header-title-wrapper {
  padding: 25px 0 40px 60px;
  width: 875px;
  display: flex;
  justify-content: flex-end;
  background-color: black;
}

.header-title {
  display: inline-block;
  margin: 5px 0 10px 0;
  color: white;
  font-family: "Playfair Display", serif;
  font-size: 30px;
}

.blinking-cursor {
  font-weight: 100;
  font-size: 40px;
  color: #2e3d48;
  animation: blink-animation 1s steps(5, start) infinite;
}

.inner-wrap {
  border-bottom: 1px solid grey;
  width: 100%;
}

.header-config-wrapper {
  width: 800px;
  background-color: #f1b92b;
  padding: 10px 30px;
}

.config-button {
  background-color: inherit;
  width: 50px;
  height: 50px;
  border: none;
  margin-right: 5px;
  border-radius: 60%;
  padding: 5px;
}

.config-button:hover {
  background-color: black;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.config-button img {
  width: 18px;
  height: 18px;
}

.main-container {
  margin: -125px auto;
  width: 1060px;
  height: 100vh;
  background-color: white;
  border-left: #e8eced 2px;
}

/* Article */
.article-wrapper {
  border-left: #e8eced solid 2px;
  margin-left: 80px;
}
.article {
  padding: 150px 140px 50px 50px;
}

/* Author and year */
.author {
  font-family: "Proxima Nova", sans-serif;
  font-size: 14px;
  margin-bottom: 20px;
  color: #b4b4b4;
  letter-spacing: 3px;
}

/* Main title */
.title-rain {
  font-family: "Futura PT", sans-serif;
  font-size: 65px;
  margin-bottom: 5px;
}

/* Title description */
.title-description {
  font-size: 20px;
  margin-bottom: 40px;
  color: #b4b4b4;
}

.article > p {
  font-size: 20px;
  margin-bottom: 20px;
}

/* Footer */
.navbar {
  text-align: center;
}

.navbar a {
  text-decoration: none;
  font-size: 40px;
  color: darkgoldenrod;
  font-weight: bold;
}

.navbar a:hover {
  color: #464f54;
}
