// COLORS
$c-white: white;
$c-black: #262626;
$c-orange: #FE5B30;
$c-orange-hov: #e2390a;
$c-turquoise: rgba(1, 177, 177, 0.411);
$c-blue-light: #70C0FF;
$c-yellow: #FFEA2F;
$c-blue: #5685A3;
$c-green: #97B92E;
$c-green-dark: rgb(33, 141, 6);
$c-purple: #B07CF8;
$c-blue-dark: #395B81;
$c-grey: #B9B9B9;
$c-red: #FF2B6B;

// Font size
$fs-base: 17px;
$fs-h1: 90px;
$fs-h1-main: 60px;
$fs-input: 15px;
$fs-middle: 16px;
$fs-type: 20px;

//Line height
$lh-base: 25px;
$lh-large: 27px;

//Transition
$t-normal: 0.35s cubic-bezier(0.4, 0, 0.2, 1);

//Box-shadow
$bs-base:rgba(0, 0, 0, 0.35) 0 5px 15px;


