extends ./src/_extends/common

block title
	title Contact

block content
	.c-contact
		.c-contact__wrapper.c-main--collapse
			+header()
			+contact-title()
			.c-contact__main-container
				+submit-form()
				+contact-info()
			+footer ()
