mixin navbar(args)
	nav.c-navbar
		.c-navbar__wrapper
			a.c-navbar__link(href="index.html")
				span.e-navbar__link__item.e-navbar__link__item--line-active Home
			a.c-navbar__link(href="about.html")
				span.e-navbar__link__item.e-navbar__link__item--line-active About
			a.c-navbar__link(href="services.html")
				span.e-navbar__link__item.e-navbar__link__item--line-active Services
			a.c-navbar__link(href="gallery.html")
				span.e-navbar__link__item.e-navbar__link__item--line-active Gallery
			a.c-navbar__link(href="blog.html")
				span.e-navbar__link__item.e-navbar__link__item--line-active Blog
			a.c-navbar__link(href="contact.html")
				span.e-navbar__link__item.e-navbar__link__item--line-active Contact
		