.c-gallery {
	background-color: $c-yellow;
	@include media("<=tablet") {
	}

	&__wrapper {
		padding-bottom: 100px;
		@include media("<=tablet") {
			margin: 0 auto;
		}
	}

	// Main title
	&__title {
		margin-top: 80px;
		margin-bottom: 50px;

		&__wrapper {
			text-align: center;
			max-width: 580px;
			margin: 0 auto;
			width: 100%;
		}
	}

	&__img-container {
		max-width: 1200px;
		margin: 0 auto;
		width: 100%;
		margin-bottom: 40px;
	}
}

// Images
.c-gallery__img-block1 {
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
	@media (max-width: 1220px) {
		flex-direction: column;
		align-items: center;
	}
	@include media("<=tablet") {
		margin-bottom: 0;
	}
}

.c-gallery__img-block2 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	@media (max-width: 1220px) {
		flex-direction: column;
		align-items: center;
	}
}

.c-gallery__aside-block {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.e-gallery__title {
	margin-bottom: 60px;
	@include media("<=tablet") {
		font-size: 50px;
		margin-bottom: 30px;
	}
}

.e-gallery__img-big {
	width: 800px;
	height: 530px;
	@media (max-width: 1220px) {
		width: 580px;
		height: 385px;
		margin-bottom: 20px;
	}
	@include media("<=tablet") {
		width: 280px;
		height: 200px;
	}
	@include media("<=small") {
		width: 200px;
		height: 140px;
	}
}

.e-gallery__img-small {
	width: 365px;
	height: 255px;
	@media (max-width: 1220px) {
		width: 580px;
		height: 385px;
		margin-bottom: 20px;
	}
	@include media("<=tablet") {
		width: 280px;
		height: 200px;
	}
	@include media("<=small") {
		width: 200px;
		height: 140px;
	}
}

.e-gallery__img-middle {
	width: 580px;
	height: 385px;
	@media (max-width: 1220px) {
		margin-bottom: 20px;
	}
	@include media("<=tablet") {
		width: 280px;
		height: 200px;
	}
	@include media("<=small") {
		width: 200px;
		height: 140px;
	}
}

// Subscribe block
.c-gallery__subscribe-block {
	background-image: url("./assets/subscribe-bg.jpg");
	background-size: cover;
	width: 100%;
	margin: 0 auto;
	@media (max-width: 1170px) {
		background-image: none;
	}
	@include media("<=tablet") {
		max-width: 500px;
		margin: 0 auto;
		width: 100%;
	}

	&__wrapper {
		padding: 100px 0 75px 65px;
		@media (max-width: 1170px) {
			padding: 15px 0;
			text-align: center;
		}
		@include media("<=tablet") {
			margin: 0 auto;
		}
	}

	&__info {
		width: 545px;
		@media (max-width: 1170px) {
			margin: 0 auto;
		}
		@include media("<=tablet") {
			width: 100%;
		}
	}
	&__title {
		font-family: "Raleway", sans-serif;
		font-weight: 700;
		font-size: 40px;
		line-height: $lh-large;
		margin-bottom: 25px;
		@include media("<=tablet") {
			font-size: 32px;
		}
	}
	&__text {
		font-family: "Raleway", sans-serif;
		font-weight: 100;
		line-height: $lh-large;
		@media (max-width: 880px) {
			margin-bottom: 20px;
		}
		@include media("<=tablet") {
			font-size: 14px;
			display: inline-block;
			width: 200px;
			margin: 0 auto;
			margin-bottom: 15px;
		}
	}

	&__input {
		outline: none;
		padding: 18px 0 18px 0;
		margin-right: 20px;
		margin-bottom: 20px;
		@include media("<=tablet") {
			width: 230px;
			height: 50px;
			margin: 0;
			margin-bottom: 20px;
		}
		&::placeholder {
			font-family: "Raleway", sans-serif;
			font-weight: 300;
			font-size: 15px;
			line-height: $lh-large;
			padding-left: 5px;
		}
		&[type="email"] {
			padding-left: 10px;
		}
	}

	// Button
	&__button {
		cursor: pointer;
		background-color: $c-green;
		border: none;
		outline: none;
		box-shadow: $bs-base;
		padding: 15px 30px;
		margin-top: 35px;
		@media (max-width: 880px) {
			margin: 0;
		}

		&:hover {
			background-color: $c-green-dark;
			transition: $t-normal;
		}

		&__name {
			color: $c-white;
			font-family: "Raleway";
			font-weight: 100;
			font-size: 20px;
			line-height: $lh-large;
			text-transform: uppercase;
		}
	}
}

form {
	@include media("<=tablet") {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.e-gallery__text {
	@include media("<=tablet") {
		font-size: 14px;
	}
}
