mixin button-main(args)
	button.e-banner__button.e-banner__button--orange
		.e-banner__button__wrapper
			span.e-banner__button__name.e-banner__button__name--white Get free now

mixin button-gallery(args)
	button.c-gallery__button.c-gallery__button--blue
		span.c-gallery__button__name View more

mixin button-blog(args)
	button.c-blog__button
		span.c-blog__button__name View more