include ../_includes/_elements/_index 
include ../_includes/_components/_index


doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		block title
			title Cahee
		link(rel="preconnect" href="https://fonts.googleapis.com")
		link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
		link(href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet")
		link(rel="shortcut icon" href="./favicon.ico")
		link(rel="stylesheet" href="./plugins/normalize.css")
		link(rel="stylesheet" href="./main.css")

	body
		.l-common
			block content
	block script
		script(src="https://code.jquery.com/jquery-3.4.1.slim.js")
		script(src="./script.js")
