extends ./src/_extends/common

block title
	title Services

block content
	+icon()
	.c-services
		.c-services__wrapper
			+header()
			.c-services__main-block
				+type-block()
				+services__img-block()
